/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
	--text-color: #000;
	--background-color: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a,
a:hover,
a:visited {
	text-decoration: none !important;
	color: #fff !important;
	cursor: pointer;
}
ul,
li {
	list-style-type: none;
}
img {
	max-width: 100%;
	margin: auto;
}

body {
	background-color: var(--background-color);
}

/* navbar */
header {
	position: relative;
	padding-top: 1.5rem !important;
	background: #fff;
	top: 0;
	z-index: 1000;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
header.fixed {
	position: fixed !important;
	width: 100%;
	top: 0;
	transition: all 0.5s moveDown;
	-webkit-animation: moveDown 0.5s;
}
.logoHolder {
	width: 200px;
}
.nav-wrapper {
	width: calc(100% - 250px);
}
.cnavbar-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0;
	position: relative;
}
ul.cnavbar-nav li {
	display: inline-block;
	height: 50px;
	vertical-align: center;
}
ul.cnavbar-nav li > div,
ul.cnavbar-nav li > a {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: baseline;
	color: #000;
	font-weight: 500;
	line-height: 1.5;
}
ul.cnavbar-nav li:not(:last-of-type) {
	width: 100px;
}
ul.cnavbar-nav li:not(:last-of-type) > a {
	color: #000 !important;
}
ul.cnavbar-nav li:last-of-type > div {
	background-color: rgb(255, 0, 0);
	padding: 0 1.5rem;
	align-items: center;
}
ul.cnavbar-nav li:last-of-type > div a {
	color: #fff !important;
}
/* end header */

/* Landing page start */
.pageWrapper {
	height: calc(100vh - 82px);
	position: static;
	top: 0;
}

main {
	height: calc(100% - 200px);
	display: grid;
	grid-template-rows: 3fr 1fr;
	grid-template-columns: 1fr;
}
main > div:first-of-type {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}

.side-hero {
	cursor: pointer;
	position: relative;
}

.side-hero > .bg {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-size: cover;
	background-position: center center;
	filter: grayscale(100%);
	transition: all 2s ease;
}

.side-hero.left > .bg {
	background-image: url("../images/60-scaled.jpg");
}
.side-hero.right > .bg {
	background-image: url("../images/hyndai.jpg");
}
.removeGrayScale {
	filter: grayscale(0) !important;
}
.side-hero-cta {
	position: absolute;
	display: block;
	color: #fff;
	width: 150px;
	background: red;
	padding: 1rem 0rem;
	text-align: center;
	bottom: 0;
	left: calc(50% - 75px);
	transition: all 0.3s ease-in-out;
	opacity: 0;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.side-hero-cta.show {
	opacity: 1;
	transform: translateY(-100px);
}

main > div:last-of-type > div {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 2fr 3fr;
	font-weight: 600;
}
.customer-title > h1 {
	font-size: 50px;
	letter-spacing: 3px;
	color: red;
	-webkit-text-fill-color: red;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}
.customers-carousel {
	position: relative;
}
.customers-carousel > span {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 1rem;
	width: 30px;
	height: 30px;
	top: calc(50% - 15px);
	cursor: pointer;
}

.customers-carousel > span.left {
	left: 0;
}
.customers-carousel > span.right {
	right: 0;
}

/* Page Footer */
.page-footer {
	height: 200px;
	width: 100vw;
	position: relative;
}

.page-footer .section-header {
	height: 40px;
	background: red;
}
.page-footer .footer-navs {
	display: flex;
	justify-content: space-evenly;
	position: relative;
	height: 100%;
}

.page-footer .footer-navs ul li:first-of-type {
	height: 40px;
	text-align: center;
	display: flex;
	align-items: center;
	color: #fff;
	font-weight: 400;
	margin-bottom: 0.2rem;
}
.page-footer .footer-navs ul:not(:last-of-type) li:not(:first-of-type) {
	font-size: 0.75rem;
}
.page-footer .footer-navs ul:last-of-type li:not(:first-of-type) {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(100% - 43.2px);
	font-size: 0.70rem;
}
.page-footer .footer-navs ul:last-of-type li:not(:first-of-type) > div > span {
	display: block;
}
.page-footer
	.footer-navs
	ul:last-of-type
	li:not(:first-of-type)
	> div
	> span
	a {
	color: #000 !important;
}
.page-footer .socials-wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
}
.page-footer a.instagram {
	color: rgb(193, 53, 132) !important;
}
.page-footer a.facebook {
	color: rgb(1, 101, 225) !important;
}
.page-footer a.linkedin {
	color: rgb(10, 102, 194) !important;
}
.page-footer .footer-body {
	position: absolute;
	top: 0;
	width: 100%;
	height: calc(200px - 30px);
}
.page-footer .footer-body > div {
	height: 100%;
}
.page-footer .socials-alt {
	font-size: 0.75rem;
}
.page-footer .footer-footer {
	height: 30px;
	width: 100%;
	background: #000;
	position: absolute;
	bottom: 0;
	z-index: 1;
	font-size: 0.75rem;
}
.page-footer .footer-footer > div {
	display: flex;
	align-items: center;
	height: 100%;
	color: rgba(255, 255, 255, 0.5);
}
.page-footer .footer-footer > div a {
	color: rgba(255, 255, 255, 0.5) !important;
}
/* End page footer */
/* End landing page */

/* Keyframes */
@keyframes moveDown {
	0% {
		-webkit-transform: translateY(-82px);
	}
}

@keyframes moveUp {
	0% {
		-webkit-transform: translateY(82px);
	}
}
