<!DOCTYPE html>
<html lang="fr">
	<%- include("./partials/head.ejs") %>
	<body>
		<%- include("./partials/navbar.ejs") %>
		<div class="pageWrapper">
			<main data-content="realisation">
				<div class="realisationsWrapper container">
					<div class="realisation-header my-5 text-center">
						<h1>Nos realisations</h1>
					</div>
					<div class="cards-wrapper">
						<div class="r-card p-2">
							<div class="r-card-img">
								<img
									class="i"
									src="https://images.pexels.com/photos/11915409/pexels-photo-11915409.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
									alt="pas trouve"
								/>
							</div>
							<div class="card-cta"></div>
						</div>
						<div class="r-card p-2">
							<div class="card-img">
								<img
									class="i"
									src="https://images.pexels.com/photos/11915409/pexels-photo-11915409.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
									alt="pas trouve"
								/>
							</div>
							<div class="card-cta"></div>
						</div>
						<div class="r-card p-2">
							<div class="card-img">
								<img
									class="i"
									src="https://images.pexels.com/photos/11915409/pexels-photo-11915409.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
									alt="pas trouve"
								/>
							</div>
							<div class="card-cta"></div>
						</div>
						<div class="r-card p-2">
							<div class="card-img">
								<img
									class="i"
									src="https://images.pexels.com/photos/11915409/pexels-photo-11915409.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
									alt="pas trouve"
								/>
							</div>
							<div class="card-cta"></div>
						</div>
						<div class="r-card p-2">
							<div class="card-img">
								<img
									class="i"
									src="https://images.pexels.com/photos/11915409/pexels-photo-11915409.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
									alt="pas trouve"
								/>
							</div>
							<div class="card-cta"></div>
						</div>
						<div class="r-card p-2">
							<div class="card-img">
								<img
									class="i"
									src="https://images.pexels.com/photos/11915409/pexels-photo-11915409.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
									alt="pas trouve"
								/>
							</div>
							<div class="card-cta"></div>
						</div>
						<div class="r-card p-2">
							<div class="card-img">
								<img
									class="i"
									src="https://images.pexels.com/photos/11915409/pexels-photo-11915409.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
									alt="pas trouve"
								/>
							</div>
							<div class="card-cta"></div>
						</div>
						<div class="r-card p-2">
							<div class="card-img">
								<img
									class="i"
									src="https://images.pexels.com/photos/11915409/pexels-photo-11915409.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
									alt="pas trouve"
								/>
							</div>
							<div class="card-cta"></div>
						</div>
					</div>
					
				</div>
			</main>
			<%- include("./partials/footer.ejs") %>
		</div>
		<%- include("./partials/scripts.ejs") %>
	</body>
</html>
