<footer class="page-footer">
	<div class="section-header"></div>
	<div class="footer-body">
		<div class="container">
			<div class="footer-navs">
				<ul>
					<li>Commercial</li>
					<li>Pellicules solaire</li>
					<li>Pellicules de sécurité</li>
					<li>Pellicules décoraitves</li>
					<li>Autres produits offerts</li>
				</ul>
				<ul>
					<li>Residentiel</li>
					<li>Pellicules solaire</li>
					<li>Pellicules de sécurité</li>
					<li>Pellicules décoraitves</li>
					<li>Autres produits offerts</li>
				</ul>
				<ul>
					<li>Partenaires</li>
					<li>3M</li>
					<li>WindowFilm Association</li>
				</ul>
				<ul>
					<li>Certifications</li>
					<li>3M</li>
					<li>WindowFilm Association</li>
				</ul>
				<ul>
					<li>Coordonnées</li>
					<li>
						<div class="">
							<span>Montréal</span>
							<span
								><a href="tel:5140000000">514-000-0000</a></span
							>
							<span
								><a href="mailto:ventes@berkayly.com"
									>ventes@berkayly.com</a
								></span
							>
							<span>123 rue de la rue, Montréal, Qc</span>
						</div>
						<div class="">
							<span
								><a href="mailto:ventes@berkayly.com"
									>ventes@berkayly.com</a
								></span
							>
							<span>123 rue de la rue, Montréal, Qc</span>
						</div>
					</li>
				</ul>
				<div class="socials-wrapper">
					<a href="#" class="facebook me-2">
						<i class="fa fa-facebook" aria-hidden="true"></i>
					</a>
					<a href="#" class="instagram me-2">
						<i class="fa fa-instagram" aria-hidden="true"></i>
					</a>
					<a href="#" class="linkedin">
						<i class="fa fa-linkedin" aria-hidden="true"></i>
					</a>
					<span class="socials-alt"
						>Suivez nous sur nos autres plateformes</span
					>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-footer">
		<div class="container">
			<span class="me-2">Tous droits réservés 2022 - Berkayly</span>
			<span
				>Site web conçu par
				<a href="https://www.omnigo.ca" target="_blank">Omnigo.ca</a>
			</span>
		</div>
	</div>
</footer>
