<header class="navbar" id="header">
	<div class="container">
		<div class="logoHolder d-inline ms-0 me-auto">
			<a href="/" class="navbar-brand">
				<img src="/images/logos/logo.png" alt="logo de berkayly" />
			</a>
		</div>
		<div class="me-0 ms-auto nav-wrapper">
			<ul class="cnavbar-nav">
				<li class="nav-item">
					<a href="/pellicules-solaires">Pellicules solaires</a>
				</li>
				<li class="nav-item">
					<a href="/pellicules-de-securites"
						>Pellicules de sécurité</a
					>
				</li>
				<li class="nav-item">
					<a href="">Pellicules Décoratives</a>
				</li>
				<li class="nav-item">
					<a href="/realisations">Réalisations</a>
				</li>
				<li class="nav-item">
					<div>
						<a
							href="javascript:void(0)"
							class="header-cta"
							id="header-cta"
							>SOUMISSION</a
						>
					</div>
				</li>
			</ul>
		</div>
	</div>
</header>
